body {
  max-height: 100%
}

.header {
  background-color: #b3a369;
}

p {
  align-content: center
}


.container {
  background-color: #857437;
  font-family: 'Contrail One', cursive;
  max-width: 100%;
}

h1 {
  color: white;
}

.modalheader, .modalfooter {
  background-color: #857437;
  font-family: 'Contrail One', cursive;
  color: white;
  justify-content: center
}

.btn {
  font-family: 'Contrail One', cursive;
  color: white;
  background-color: #b3a369;
}

#droptop {
  background-color: #857437
}

